<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Multiples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F61C94E51BB1B4AD00F8EF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F61C94F91BB1B4AD00F8EF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F61C95041BB1B4AD00F8EF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
